 <!-- About Section -->
 <section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p align="justify"><b>Gvero's Pintokyo Games</b> is a game studio and 
                    development company placed in Lausanne, Switzerland. 
                    The main services of the company are video game 
                    development and commercialization, and development of software
                    which includes IT applications and software tools.
                </p>
            </div>
            <div class="col-lg-4">
                <p align="justify">
                    <b>Tihomir Gvero</b>, the founder of the company, has more 
                    than ten years of experience in software development.  
                    He worked as a researcher at <a href="https://www.epfl.ch">EPFL</a>,
                    as a consultant at <a href="https://itecor.com">Itecor</a> and as a data scientist at <a href="https://www.credit-suisse.com">Credit Suisse</a>. 
                    He holds a PhD in computer science from EPFL.
                </p>
            </div>
<!--                 <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
