    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>{{ site.data.trans.footer[page.lang].location }}</h3>
                        <p>
                            {% for adress in site.data.trans.footer[page.lang].address %}
                                {{ adress.line }} <br>
		                    {% endfor %}
                        </p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>{{ site.data.trans.footer[page.lang].social }}</h3>
                        <ul class="list-inline">
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                            </li>
		                    {% endfor %}
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>{{ site.data.trans.footer[page.lang].support }}</h3>
                        <p>{{ site.data.trans.footer[page.lang].email }}: {{ site.support.email }}</p>
                        <p>{{ site.data.trans.footer[page.lang].phone }}: {{ site.support.phone }}</p>
                    </div>
                </div>
<!--                 <div class="row">
                    <div class="footer-col">
                        {{ site.data.trans.footer[page.lang].language }}:
                        {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                        {% for page in pages %} <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ page.lang }}</a> {% endfor %}
                    </div>                    
                </dir> -->
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; {{ site.data.trans.footer[page.lang].copyright }} 20{{ site.time | date: '%y' }}
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
