    <!-- Header -->
    <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" poster={{ site.header.background-poster }}>
            <source src={{ site.header.background-video }} type="video/mp4">
        </video>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img src={{ site.logo }} class="logo">
<!--                     <hr class="star-primary">    -->                 
                    <div class="intro-text">
                        <span class="skills">{{ page.header_title }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>