   <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">{{ site.title }}</a>

                <!-- <a href="#page-top"><img src={{ site.logo }}></a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a class="navbar-section" href="#about">{{site.data.trans.nav[page.lang].about}}</a>
                    </li>
                    <li class="page-scroll">
                        <a class="navbar-section" href="#portfolio">{{site.data.trans.nav[page.lang].services}}</a>
                    </li>                    
                    <li class="page-scroll">
                        <a class="navbar-section" href="#contact">{{site.data.trans.nav[page.lang].contact}}</a>
                    </li>
                    <li class="page-scroll">
                        {% assign pages_en=site.pages | where: 'ref', page.ref | where: 'lang', "en" %}
                        {% assign page_en=pages_en[0] %}
                        <a href="{{ page_en.url }}" class="en navbar-section"> <img src="{{site.flags.uk}}" width="28px"> en</a>
                    </li>
                    <li class="page-scroll">
                        {% assign pages_fr=site.pages | where: 'ref', page.ref | where: 'lang', "fr" %}
                        {% assign page_fr=pages_fr[0] %}
                        <a href="{{ page_fr.url }}" class="fr navbar-section"> <img src="{{site.flags.french}}" width="28px"> fr</a>
                    </li>                                  
                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>