 <!-- Dervice Description -->
 <section class="service-description" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            	<h2 align="center">{{ page.title }}</h2>
            	<h4 align="center">{{ page.subtitle }}</h4>
                <hr class="star-primary">
                <img src="/img/portfolio/{{ page.img }}" class="img-responsive img-centered">
                <p align="justify">{{ page.description }}</p>
            </div>
        </div>
    </div>
</section>